.contact_container{
    width: 480px;
    margin-left: 160px;
    margin-top: 20px;

}
.form{
    width: 480px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    gap: 40px;
    margin-left: -10px;
   
}


.email button{
    width: 100%;
    background: transparent;
    border: 2px solid black;
    color: black;
    gap: 10px;
}
.third_inp input {
    height: 130px;
}
